---
import "@/styles/global.css";
---
<html>
  <head>
    <meta charset="utf-8" />
    <title>filebundle</title>
  </head>
  <body class="min-h-screen bg-neutral-950 text-neutral-100 font-sans flex items-center justify-center">
    <p>filebundle is booting.</p>
  </body>
</html>
